

.hero-5-2 .media-column{
	background-image: url('https://images.unsplash.com/photo-1601397922721-4326ae07bbc5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
}

.hero-5-2 .media-column::before {
    content: "";
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
}

.hero-5-2 .media-column a{
    position: absolute;
    text-align: center;
    background-color: rgba(27,128,124,0.9);
    color: #fff;
    font-size: 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 5rem;
    border-radius: 6px;
    border: white solid 0.2rem;
    z-index: 100;
}

.hero-5-2 .media-column a:hover{
    background-color: rgb(47, 148, 144);
}

.fullscreen-sections-wrapper .background-image.fullscreen-bkg-3 {
    background-image: url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
}

.fullscreen-sections-wrapper .background-image.fullscreen-bkg-3::before {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}

.calendar {
    margin-top: 8rem;
}

.calendar a{
    position: relative;
    text-align: center;
    background-color: rgba(27,128,124,0.9);
    color: #fff;
    font-size: 2rem;
    left: 0;
    bottom: 0;
    padding: 2rem 5rem;
    border-radius: 6px;
    border: white solid 0.2rem;
    z-index: 100;
}

.calendar a:hover{
    background-color: rgb(47, 148, 144);
}


.section-block.grid-filter-menu, .section-block.grid-container {
    background-color: #36454F;
}

.grid-filter-menu a{
	padding: 0.5rem 0;
	font-size: 1rem;
	font-weight: 400;
	color: rgb(255,255,255);
	display: block;
	position: relative;
	border-bottom: 1px solid transparent;
}
.grid-filter-menu a:hover{
	color: rgb(79, 198, 194);
}
.grid-filter-menu a.active{
	color: rgb(79, 198, 194);
	border-color: rgb(79, 198, 194);
}

.overlay-fade-out:hover .overlay-info{
    opacity:.9}

.overlay-fade-out .overlay-info span{
        color: grey;
        transition: 1s;
    }

.overlay-fade-out:hover .overlay-info span{
        color: black;
        font-size: 1.5rem;
    }